<div class="card">
  <img class="card-img-top" src={{this.photo}} alt={{this.alt}}>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Color: {{this.color}}</p>
    <p class="card-text">Get the specs <a href="{{this.specs}}" target="_blank">here</a>.</p>
    <a class="btn btn-primary" href="#" role="button">Reserve</a>
  </div>
</div>