<div class="col col-4">
    <img src="/static/img/{{img}}" class="card-img" alt="{{name}}" width="100%">
    <p class="mt-4 text-center">{{name}}</p>
    <ul>
        <li><span>Age</span>: {{age}}</li>
        {{#if fictional}}
        <li><span>Status</span>: {{status}}</li>
        {{else}}
        <li><span>Other appearances</span>:</li>
            <ul class="ml-5">
                {{#each appearances}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </ul>
</div>
    
