<div class="card {{position}}" style="width: 18rem;">
  <img src="../images/{{fileName}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{text}}</p>
    <a href="{{link}}" target="_blank" class="btn btn-primary">Más información</a>
  </div>
</div>