<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header id="headerDeLaPagina">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="/">{{title}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-dark" href="/">{{home}}</a>
                        <a class="nav-item nav-link text-dark" href="/about">{{about}}</a>
                        <a class="nav-item nav-link text-dark" href="/work">{{work}}</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="container d-flex flex-column align-items-center mt-4 mains">
        <div>
            <img src="imgs/about.jpg">
        </div>
        <div class="mt-5">
            <p class="container" id="primerParrafo">
                N<span>eil deGrasse Tyson</span> (Nueva York, 5 de octubre de 1958) es un astrofísico, escritor y divulgador científico
                estadounidense. Actualmente es director del Planetario Hayden en el Centro Rose para la Tierra y el Espacio,
                investigador asociado en el Departamento de Astrofísica del Museo Americano de Historia Natural.
            </p>
            <p class="container">
                La investigación de Tyson se ha enfocado en observaciones de formación y evolución estelar así como en cosmología y
                astronomía galáctica. Ha trabajado en numerosas instituciones, incluyendo la Universidad de Maryland, la Universidad de
                Princeton, el Museo Americano de Historia Natural y el Planetario Hayden.
            </p>
            <p class="container">
                Ha escrito numerosos libros populares de astronomía. En 1995 comenzó a escribir la columna «Universo» para la revista
                Natural History. En una columna de esta revista, en 2002, acuñó el término «Manhattanhenge» para describir los dos días
                al año en los cuales el sol al atardecer se alinea con el cruce de las calles del trazado urbano de Manhattan,
                permitiendo que el sol se vea a lo largo de calles laterales sin obstrucciones. La columna de Tyson también influyó su
                trabajo como profesor, con las lecturas en The Great Courses.12​
            </p>   
            <p class="container">
                    En 2001 el presidente George W. Bush lo designó para trabajar en la Commission on the Future of the United States
                    Aerospace Industry (Comisión para el futuro de la industria aeroespacial de Estados Unidos) y en 2004 para trabajar en
                    la President's Commission on Implementation of United States Space Exploration Policy (Comisión presidencial sobre la
                    implementación de la política de exploración espacial de Estados Unidos), conocida como «Moon, Mars, and Beyond» (‘Luna,
                    Marte y más allá’). Luego recibió el premio Medalla de la NASA al Servicio Público Distinguido, el mayor honor a civiles
                    concedido por la NASA.13
            </p>    
            <p class="container">
                En 2004 fue el anfitrión de las cuatro partes de la miniserie Origins como parte de la serie Nova de la PBS14​ y, junto
                a Donald Goldsmith, fue coautor de los volúmenes que acompañaron esta serie, Origins: Fourteen Billion Years Of Cosmic
                Evolution.15​ Luego colaboró nuevamente con Goldsmith como narrador en el documental 400 Years of the Telescope,
                estrenado por la PBS en abril de 2009.
            </p>   
            <p class="container">
                Tyson en diciembre de 2011 en la conferencia que marcaba los 1000 días del lanzamiento del satélite Kepler.
                Como director del Planetario Hayden, se rebeló contra el pensamiento tradicional de mantener a Plutón como el noveno
                planeta, el cual era exhibido así por dicho centro. Explicó que quería cosas en común entre los objetos, agrupando los
                planetas terrestres en una categoría, los gigantes de gas en otra, y a Plutón con objetos similares, y abandonar la idea
                de simplemente contar astros. Luego comentaría en The Colbert Report, The Daily Show y BBC Horizon que esta decisión los
                llevó a recibir grandes cantidades de correos amenazantes, muchos de ellos de niños.16​ En el 2006 la Unión Astronómica
                Internacional confirmó la evaluación de Tyson cambiando a Plutón a la clasificación de «planeta enano». Daniel Simone
                escribió en una entrevista que Tyson describió su frustración. «Por un momento, no eramos muy populares aquí en el
                planetario Hayden».
            </p>
        </div>
    </main>
<footer id="unFooter">
    <div>
        <p>&copy2020 pagina sobre Neil 👍</p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>

</html>