<section>

    <img src="{{data.image_path}}" alt="The Office" class="poster">
    <article>
        <h2>About</h2>
        <p>{{{data.description}}}</p>
        <ul>
            <li>Network : {{data.network}}</li>
            <li>Started on {{data.start_date}} in {{data.country}}</li>
            <li>Status : {{data.status }}</li>
        </ul>

    </article>

</section>