<div id="container">

    <div class="it">
        <img class="psg" src="{{image2}}" alt="psg image">
    </div>

    <div class="paragraph">
        <h4>{{facts}}</h4>
        <ul>
            {{#each sumup}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="paragraph">
        <h4>{{stadium}}</h4>
        <p>{{place}}</p>
    </div>

    <div class="paragraph">
        <h4>{{manager}}</h4>
        <p>{{name}}</p>
    </div>

    <div class="paragraph">
        <h4>{{property}}</h4>
        <p>{{name2}}</p>
    </div>

    <div class="paragraph">
        <h4>{{pdg}}</h4>
        <p>{{name3}}</p>

    </div>

</div>
<button class="btn">CLICK</button>
<div class="names">
    <h4>{{calypso}}</h4>
    <h4>{{menhaj}}</h4>
</div>