<header class = "boss-selection">
    <div></div>
    <nav class = "center">
        <a href="/bloodborne">Bloodborne bosses</a>
    </nav>
</header>
<div class="stat center bloodborne">
    <div id="blood-borne-stat">
    <div id="photo"><img src={{bossImage}} alt="boss-image"></div>
    <div id="phys-def" class="cell center"><img src="/images/Physical_DEF_icon.jpg" alt="">{{physDef}}</div>
    <div id="vs-trust" class="cell center"><img src="/images/VS_Thrust_icon.jpg" alt="">{{vsTrust}}</div>
    <div id="vs-blunt" class="cell center"><img src="/images/VS_Blunt_icon.jpg" alt="">{{vsBlunt}}</div>
    <div id="fire" class="cell center"><img src="/images/Fire_icon.jpg" alt="">{{fire}}</div>
    <div id="bolt" class="cell center"><img src="/images/Bolt_icon.jpg" alt="">{{bolt}}</div>
    <div id="blood" class="cell center"><img src="/images/Blood_DEF_icon.jpg" alt="">{{blood}}</div>
    <div id="arcane" class="cell center"><img src="/images/Arcane_DEF_icon.jpg" alt="">{{arcane}}</div>
    <div id="slow-poison" class="cell center"><img src="/images/Slow_Poison_RES_icon.jpg" alt="">{{slowPoison}}</div>
    <div id="rapid-poison" class="cell center"><img src="/images/Rapid_Poison_RES_icon.jpg" alt="">{{rapidPoison}}</div>
    <div id="hp-ng" class="cell center"><span>HP New game</span>{{hpNG}}</div>
    <div id="hp-ngp" class="cell center"><span>HP New game+</span>{{hpNGP}}</div>
    <div id="echos-ng" class="cell center"><span>Echos New game+</span>{{echoNG}}</div>
    <div id="echos-ngp" class="cell center"><span>Echos New game+</span>{{echoNGP}}</div>
</div>
