{{> bloodborneNav}}
<div class="stat center bloodborne">
    <div id="blood-borne-stat">
    <div id="photo"><img src={{stat.bossImage}} alt="boss-image"></div>
    <div id="phys-def" class="cell center"><img src="/images/Physical_DEF_icon.jpg" alt="">{{stat.physDef}}</div>
    <div id="vs-trust" class="cell center"><img src="/images/VS_Thrust_icon.jpg" alt="">{{stat.vsTrust}}</div>
    <div id="vs-blunt" class="cell center"><img src="/images/VS_Blunt_icon.jpg" alt="">{{stat.vsBlunt}}</div>
    <div id="fire" class="cell center"><img src="/images/Fire_icon.jpg" alt="">{{stat.fire}}</div>
    <div id="bolt" class="cell center"><img src="/images/Bolt_icon.jpg" alt="">{{stat.bolt}}</div>
    <div id="blood" class="cell center"><img src="/images/Blood_DEF_icon.jpg" alt="">{{stat.blood}}</div>
    <div id="arcane" class="cell center"><img src="/images/Arcane_DEF_icon.jpg" alt="">{{stat.arcane}}</div>
    <div id="slow-poison" class="cell center"><img src="/images/Slow_Poison_RES_icon.jpg" alt="">{{stat.slowPoison}}</div>
    <div id="rapid-poison" class="cell center"><img src="/images/Rapid_Poison_RES_icon.jpg" alt="">{{stat.rapidPoison}}</div>
    <div id="hp-ng" class="cell center"><span>HP New game</span>{{stat.hpNG}}</div>
    <div id="hp-ngp" class="cell center"><span>HP New game+</span>{{stat.hpNGP}}</div>
    <div id="echos-ng" class="cell center"><span>Echos New game+</span>{{stat.echoNG}}</div>
    <div id="echos-ngp" class="cell center"><span>Echos New game+</span>{{stat.echoNGP}}</div>
</div>
