<h1>Country name: {{name}}</h1>
<img src="/img/china.png" alt="china-flag" class="flag-page">
<p>Capital: {{capital}}</p>
<p>Language: {{language}}</p>
<p>Population: {{population}}</p>
<p>Religion: {{religion}}</p>
<p>Area: {{area}}</p>
<p>GDP: {{GDP}}</p>
<p>Currency: {{currency}} </p>
<p>Time zone: {{timeZone}}</p>
<button class="know-more">CLICK HERE IF YOU WANT TO KNOW MORE ABOUT THIS COUNTRY</button>
<p class="culture">Culture: {{culture}}</p>
<div class="row">
    <div class="column">
        <img id="image-1" src="img/argentina/buenos-aires.png" alt="Buenos Aires">
    </div>
    <div class="column">
        <img id="image-2" src="img/argentina/street-pic.jpg" alt="A street in Argentina">
    </div>
    <div class="column">
        <img id="image-3" src="img/argentina/perito-moreno-glacier.jpg" alt="Perito Moreno Glacier">
    </div>
</div>

<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
</div>