<h1>Country name {{name}}</h1>
<img src="/img/china.png" alt="china-flag" class="flag">
<p>capital {{capital}}</p>
<p>language {{language}}</p>
<p>Population {{population}}</p>
<p>Religion {{religion}}</p>
<p>Area {{area}}</p>
<p>GDP {{GDP}}</p>
<p>Currency {{currency}} </p>
<p>Time zone {{timeZone}}</p>
<p>Culture {{culture}}</p>