<h1>Country name: {{name}}</h1>
<img src="/img/france.png" alt="france-flag" class="flag-page">
<p>Capital: {{capital}}</p>
<p>Language: {{language}}</p>
<p>Population: {{population}}</p>
<p>Religion:
<ul>
    {{#each religion}}
    <li>{{this}}</li>
    {{/each}}
</ul>
</p>
<p>Area: {{area}}</p>
<p>GDP: {{GDP}}</p>
<p>Currency: {{currency}} </p>
<p>Time zone: {{timeZone}}</p>
<button class="know-more">CLICK HERE IF YOU WANT TO KNOW MORE ABOUT THIS COUNTRY</button>
<p class="culture">Culture: {{culture}}</p>