<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The 10 greatest writers</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 id="title">The 10 greatest writers of all time</h1>
      <div id="author-container" class="row">
        {{#each this}}
          {{#if name}}
            <div class="col-3 card">
              <img class="card-img" src="{{image}}" alt="image of {{name}}">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/about?{{id}}">About</a>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </body>
</html>