<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <script src="https://kit.fontawesome.com/23ee95315c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>{{headTitle}}</title>
</head>
<body>
    <header class="header">
        <nav class="nav container flex-row pb-2 pt-1 ">
            <a class="col-6--nr pl-1 pr-1 home-link" href="/">{{name}}</a>
            <ul class="col-6--nr pl-1 pr-1 flex-row justify-content-end align-self-center">
                {{#each nav}}
                <li class="pl-1 pr-1 col-4 ta-right--nr"><a href="/{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </header>
    <main>
        <section class="section profile pb-2">
            <div class="container flex-row">
                <div class="col-9 pl-1 pr-1">
                    <h1 class="pb-1 ta-left">{{position}}</h2>
                    {{#each content}}
                     <p class="pb-1 ta-left">{{this.desc}}</p>
                    {{/each}}
                </div>
                <div class="col-3 pl-1 pr-1 ta-center">
                    <img src="img/myself.jpeg" alt="portrait pic Javi Varela">
                </div>
            </div>
        </section>
        <section class="section projects">
            <div class="container flex-row ta-center">
                {{#each content}}
                <div class="col-4 pl-1 pr-1 pb-1">
                    <i class="fab fa-{{this.icon}} pb-1"></i>
                    <h2 class="pb-1">{{this.title}}</h2>
                    <p>{{this.desc}}</p>
                </div>
                {{/each}}
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="container flex-row  pt-2 pb-1 align-self-center">
                <div class="copyright col-6 pl-1 pr-1 flex-column justify-content-center">
                    <p class="ta-left">{{copyright}}</p>
                </div>
                <div class="social col-6 flex-row pl-1 pr-1 align-self-center">
                    {{#each socialMedia}}
                    <a href="#"><i class="pl-1 pr-1 fab fa-{{this}}"></i></a>
                    {{/each}}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
