<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Alex Fernández PortFolio</title>
</head>

<body>
    <div class="content">
        <header class="links-contact">
            <nav class="social-media-links">
                <h2 class="myName">{{myPortfolio}}</h2>
                <ul>
                    <li><a href="{{data.github}}"><img src="/images/github-logo.png" class="social_media_image"
                                alt="github-icon-logo"><br>GitHub</img></a></li>
                    <!--Linkaremos una imagen con la cuenta de Git y otra para Insta-->
                    <li><a href="{{data.instagram}}"><img src="/images/instagram-logo.png" class="social_media_image"
                                alt="instagram-icon-logo"><br>InstaGram</img></a></li>
                    <li><a href="{{data.linkedin}}"><img src="/images/linkedin-logo.png" class="social_media_image"
                                alt="linkedin-icon-logo"><br>LinkedIn</img></a></li>
                    <!--Recordar vincular la cuenta en el futuro-->
                </ul>
            </nav>
            <nav class="intern-links">
                <ul>
                    <li><a href="#about-me">Sobre mí</a></li>
                    <!--Linkaremos a un punto de nuestra web-->
                    <li><a href="#my-projects">Proyectos</a></li>
                    <li><a href="#my-cv">Mi CV</a></li>
                    <li><a href="/contact">Contacto</a></li>
                    <!--Decidir si será otra pagina o te redirigirá a la propua-->
                </ul>
            </nav>
        </header>
        <main class="main_content">
            <div id="image-presentation">
                <a name="about-me"></a>
                <div class="personal_image">
                    <img id="my-personal-photo" src="{{data.myPhoto}}" alt="my-personal-photo"></img>
                </div>
                <div class="presentation">
                    <div class="presentation_text">
                        <p>Bienvenido,</p>
                        <h1>soy {{data.name}}</h1>
                        <p>y estoy estudiando {{data.bootcamp}} en la escuela {{data.school}}.</p><br>
                        <p> Resido en {{data.city}} y tengo {{data.age}} años.</p>
                    </div>
                </div>
            </div>
            <div id="personal-info">
                <div class="info_text">
                    <p> Soy una persona creativa, proactiva y con ganas siempre de seguir aprendiendo.</p><br>
                    <p> Me apunté a {{data.school}} con la meta de llevar mi nivel de {{data.bootcamp}} al siguiente
                        nivel.</p>
                    <br>
                    <p> Mis aptitudes són: </p>
                </div>
                <div class="personal_icons">
                    <div class="icon_description">
                        <img src="/images/language.png" class="main_icons" alt="languages-icon" />
                        <ul>
                            {{#each data.languages}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="icon_description">
                        <img src="/images/thinking.png" class="main_icons" alt="worker-icon" />
                        <ul>
                            {{#each data.aptitudes}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>

                    <div class="icon_description">
                        <img src="/images/code.png" class="main_icons" alt="code-icon" />
                        <ul>
                            {{#each data.codeLanguages}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <hr class="separate-content">
                <div class="my-personal-projects">
                    <a name="my-projects"></a>
                    <div class="projects_text">
                        <p> En los siguientes enlaces podrás encontrar algunos de mis proyectos realizados:</p><br>
                    </div>
                    <div class="my_projects">
                        <ul>
                            <li><a href="{{data.projects.project1Url}}/"> <img class="projects_image"
                                        src="{{data.projects.project1Image}}"
                                        alt="{{data.projects.project1Name}}" /><br>
                                    {{data.projects.project1Name}}</a></li>
                            <li><a href="{{data.projects.project2Url}}"> <img class="projects_image"
                                        src="{{data.projects.project2Image}}"
                                        alt="{{data.projects.project2Name}}" /><br> {{data.projects.project2Name}}</a>
                            </li>
                            <li><a href="{{data.projects.project3Url}}"> <img class="projects_image"
                                        src="{{data.projects.project3Image}}"
                                        alt="{{data.projects.project3Name}}" /><br> {{data.projects.project3Name}}</a>
                            </li>
                            <li><a href="{{data.projects.project4Url}}"> <img class="projects_image"
                                        src="{{data.projects.project4Image}}"
                                        alt="{{data.projects.project4Name}}" /><br>
                                    {{data.projects.project4Name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="link-to-my-cv">
                    <p>Si estás interesado en conocer mi CV:</p><br>
                    <a href="{{data.cv}}" download="{{data.name}} CV" name="my-cv"> <input type="button"
                            value="Descargar CV" class="cv_link"></a>
                    <p class="cv_text">(También puedes encontrar mi LinkedIn en la parte superior de la web)</p>

                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer_text">
            <p>Web creada por:</p> <br>
            <p>{{developer}}</p>
        </div>
    </footer>
</body>

</html>