<!-- Cards for all items -->
  <div class="card-deck">
    {{#each items}}
    <div class="card">
      <img class="card-img-top" src={{this.photo}} alt={{this.alt}}>
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Color: {{this.color}}</p>
        <p class="card-text">Get the specs <a href="{{this.specs}}" target="_blank">here</a>.</p>
        <a class="btn btn-primary" href="#" role="button">Reserve</a>
      </div>
    </div>
    {{!-- <div class="card">
      <img class="card-img-top" src="images/microwave.jpg" alt="Microwave">
      <div class="card-body">
        <h5 class="card-title">Proline 700W Microwave</h5>
        <p class="card-text">Color: White</p>
        <p class="card-text">Get the specs <a href="https://www.darty.com/nav/achat/gros_electromenager/micro_ondes-micro_ondes/micro_ondes_compact/avis_2__proline_ke17w.html" target="_blank">here</a>.</p>
        <a class="btn btn-primary" href="#" role="button">Reserve</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/dumbbells.webp" alt="Pair of dumbbells">
      <div class="card-body">
        <h5 class="card-title">3kg Dumbbells</h5>
        <p class="card-text">Color: Black</p>
        <p class="card-text">Get the specs <a href="https://www.decathlon.fr/p/paire-d-halteres-fitness-3-kg-gris/_/R-p-130442?mc=8336581&c=GRIS" target="_blank">here</a>.</p>
        <a class="btn btn-primary" href="#" role="button">Reserve</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/yoga.webp" alt="Yoga mat">
      <div class="card-body">
        <h5 class="card-title">Yoga Mat</h5>
        <p class="card-text">Color: Pink</p>
        <p class="card-text">Get the specs <a href="https://www.decathlon.fr/p/tapis-yoga-light-5-mm/_/R-p-15228?mc=8576009&c=ORANGE" target="_blank">here</a>.</p>
        <a class="btn btn-primary" href="#" role="button">Reserve</a>
      </div>
    </div> --}}
  {{/each}}
  </div>

