<h1>Kevin Smith's movies</h1>
<p>Most of them are awesome, funny and touching! The ones with the larger border are my favourites.</p>
<em>NB: he also wrote them, except for Cop Out!</em>
<div id="movies">
  {{#each movies}}
    <div class="movie-box {{#if isFavorite}}movie-favorite{{/if}}">
      <h3>{{this.title}}</h3>
      <img src="{{this.image}}" alt="{{this.title}} movie poster">
      <p class="movie-year">{{this.year}}</p>
      <p class="movie-desc">{{this.description}}</p>
      <a href="{{this.trailer}}">Watch trailer</a>
      <br>
      {{#if this.bonus}}
      <br><em>Bonus: {{this.bonus}}</em>
      {{/if}}
    </div>
  {{/each}}
</div>
<br>
<p>He also directed a few episodes of the tv shows <b>Supergirl</b> and <b>The Flash</b> AND he has a small part in <b>Die Hard 4</b>, which makes it, in my un-biased opinion, a good movie.</p>
<p><a href="https://www.imdb.com/name/nm0003620" target="_blank">Here is his iMDb page</a></p>

