<h2>{{hot-sauces.hsName}}</h2>
<p class="{{#if hot-sauces.isRegistered}}is-registered{{/if}}">
    Hot sauce name: {{hot-sauces.hsName}}<br>
    Spice rating: {{hot-sauces.spiceRating}}<br>
    Flavor rating: {{hot-sauces.flavorRating}}<br>
    Comments: {{hot-sauces.comments}}
</p>