<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header id="headerDeLaPagina">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="/">{{title}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-dark" href="/">{{home}}</a>
                        <a class="nav-item nav-link text-dark" href="/about">{{about}}</a>
                        <a class="nav-item nav-link text-dark" href="/work">{{work}}</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="mains container">
        <p id="workText">
            {{workText}}<span class="enItalica"> Fuente: </span><a href="https://www.goodreads.com/" target="_blank" class="enItalica">GoodReads.com</a>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <p class="workTextParagraphs">
                        El t칤tulo del ensayo introduce a los lectores a la f칤sica de los agujeros negros al explicar los detalles sangrientos de
                        lo que suceder칤a a su cuerpo si cayera en uno. "Holy Wars" examina la fricci칩n innecesaria entre la ciencia y la
                        religi칩n en el contexto de conflictos hist칩ricos. "La b칰squeda de vida en el universo" explora la vida astral desde las
                        fronteras de la astrobiolog칤a. Y "Hollywood Nights" ataca los d칠biles esfuerzos de la industria del cine para hacer que
                        sus cielos nocturnos sean correctos.
                    </p>
                </div>
                <div class="col-3">
                    <div>
                        <img src={{book1}} class="neilBooks">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src={{book2}} class="neilBooks">
                </div>
                <div class="col-9 d-flex align-items-end">
                    <p class="workTextParagraphs">
                        Cuando el Centro Rose para la Tierra y el Espacio en el Museo Americano de Historia Natural reclasific칩 a Plut칩n como un
                        cometa helado, el New York Times proclam칩 en la p치gina uno, "쯇lut칩n no es un planeta? Solo en Nueva York".
                        Inmediatamente, el p칰blico, los profesionales y la prensa estaban eligiendo lados sobre los planetas de Plut칩n. Plut칩n
                        est치 arraigado en nuestra visi칩n cultural y emocional del cosmos, y Neil deGrasse Tyson, autor galardonado y director
                        del Rose Center, est치 en una b칰squeda para descubrir por qu칠. Se situ칩 en el centro de la controversia sobre la
                        degradaci칩n de Plut칩n y, en consecuencia, los plut칩filos han compartido libremente sus opiniones con 칠l, incluido el
                        interminable correo de odio de los alumnos de tercer grado. Con su ingenio inimitable, Tyson ofrece una minihistoria de
                        planetas, describe los personajes de gran tama침o de las personas que los estudian y relata c칩mo el planeta favorito de
                        Estados Unidos fue expulsado del centro c칩smico.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <p class="workTextParagraphs">
                        쮺u치l es la naturaleza del espacio y el tiempo? 쮺칩mo encajamos dentro del universo? 쮺칩mo encaja el universo dentro de
                        nosotros? No hay mejor gu칤a a trav칠s de estas preguntas que expandan la mente que el aclamado astrof칤sico y autor de
                        mayor venta Neil deGrasse Tyson. Pero hoy, pocos de nosotros tenemos tiempo para contemplar el cosmos. Entonces, Tyson
                        trae el universo a la Tierra de manera sucinta y clara, con ingenio brillante, en cap칤tulos sabrosos consumibles en
                        cualquier momento y en cualquier lugar de su ajetreado d칤a.
                    </p>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <img src={{book3}} class="neilBooks">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <img src={{book4}} class="neilBooks">
                </div>
                <div class="col-9 d-flex align-items-center">
                    <p class="workTextParagraphs">
                        En esta colecci칩n cuidadosamente seleccionada de cien cartas, Tyson se basa en perspectivas c칩smicas para abordar una
                        amplia gama de preguntas sobre ciencia, fe, filosof칤a, vida y, por supuesto, Plut칩n. Sus respuestas sucintas,
                        obstinadas, apasionadas y a menudo divertidas reflejan su popularidad y su posici칩n como educador l칤der.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer id="unFooter">
        <div>
            <p>&copy2020 pagina sobre Neil 游녨</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</body>

</html>