<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">{{ home }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">{{ about }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">{{ works }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photogallery">{{ photoGallery }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="d-flex justify-content-end">
        <div class="d-flex justify-content-center flex-column align-items-end mr-5" id="about-content">
            <div>
                <h1>Works</h1>
            </div>
            <div>
                <p>
                    A los 9 años comenzó a programar un Commodore VIC-20 que tenía 8 kilobytes de memoria RAM.25​

                    En Sudáfrica, Elon Musk hizo su primer negocio a los 12 años cuando vendió, por 500 dólares, el
                    código fuente de un videojuego a la revista sudafricana PC and Office Technology, que en 1984
                    publicó las 167 líneas de código fuente del juego espacial de ciencia ficción Blastar, del que la
                    introducción decía: «En este juego tienes que destruir un carguero extraterrestre que lleva bombas
                    mortales de hidrógeno y Status Beam Machines. El programa hace un buen uso de los sprites y las
                    animaciones, y en este sentido su lectura merece la pena.

                    En 1995 tuvo la intención de trabajar para Netscape y fue a sus oficinas, pero no se atrevió a
                    hablar con nadie por timidez... <a href="https://es.wikipedia.org/wiki/Elon_Musk#Carrera"
                        target="_blank"> Leer
                        más</a>
                </p>

            </div>

        </div>

    </main>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>