<h2>Edit the story</h2>

<form method="post" action="/stories/edit/{{story._id}}" class="form">
  <label for="title">title</label>
  <input class="input" type="text" id="title" name="title" value="{{story.title}}">
  <label for="place">place</label>
  <input class="input" type="text" id="place" name="place" value="{{story.place}}">
  <label for="date">date</label>
  <input class="input" type="date" id="date" name="date" value="{{story.date}}">
  <label for="story">story</label>
  <input class="input" type="text" id="story" name="story" value="{{story.story}}">

  <button class="btn">ok !</button>
</form>