<h2 class="show-story">{{dbRes.title}} </h2> <p>in {{dbRes.place}} on the {{dbRes.date}}</p>

<p>author:{{dbRes.user.name}} - {{dbRes.family.nickname}}</p>
<p>quthor fro, auther{{dbRes.author}}</p>
<p><img class="story-pic" src="{{dbRes.picture}}"  alt="people"> {{dbRes.story}}</p>




