<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Surfer Co.</title>

    {{!-- FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300i,400i,700i|Montserrat:300,400,500,700&display=swap" rel="stylesheet">

    {{!-- CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div class="main-wrapper">

        {{!-- HEADER --}}
        <header class="main-header w-100 position-fixed">
            <div class="container m-auto d-flex">
                <div class="main-logo d-flex align-items-center justify-content-center">
                    <a href="/">
                        <img src="public/images/main-logo.png" class="img-fluid" alt="Surfers Co.">
                    </a>
                </div>
                <nav class="main-nav d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled d-flex mb-0 justify-content-center align-items-center">
                        <li class="{{ about }}">
                            <a href="/about">About</a>
                        </li>
                        <li class="{{ articles }}">
                            <a href="/articles">Articles</a>
                        </li>
                        <li class="{{ gallery }}">
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li class="{{ contact }}">
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="sn-menu">
                    <ul class="list-unstyled d-flex justify-content-center align-items-center">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        {{!-- MAIN --}}
        <main class="main-content">
            {{{ body }}}
        </main>

        {{!-- FOOTER --}}
        <footer class="main-footer bg-dark">
            <div class="container text-center">
                <small>© 2017 Surfers Co.</small>
            </div>
        </footer>

    </div>

    {{!-- JS --}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>